In [23]:
import pandas as pd
import numpy as np

In [24]:
#question 1
q1 = [12,34,56,78,89]
arr = pd.Series(q1)
print(arr)

0    12
1    34
2    56
3    78
4    89
dtype: int64

In [25]:
#question 2
q2 = pd.Series([23,45,67,35,24,21])
print(q2)
print(type(q2))
print(q2.tolist())
print(type(q2.tolist()))

0    23
1    45
2    67
3    35
4    24
5    21
dtype: int64
<class 'pandas.core.series.Series'>
[23, 45, 67, 35, 24, 21]
<class 'list'>

In [26]:
#question 3
q3 = pd.Series([2, 4, 6, 8, 10])
q4 = pd.Series([1, 3, 5, 7, 9])
print(q3+q4)
print(q3-q4)
print(q3*q4)
print(q3/q4)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [27]:
#question 4
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
q5 = pd.Series(d1)
print(q5)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [28]:
#question 5
q6 = np.array([1, 2, 8, 3, 0, 2, 9, 4])
q7 = pd.Series(q6)
print(q7)

0    1
1    2
2    8
3    3
4    0
5    2
6    9
7    4
dtype: int64

In [29]:
#question 6
q8 = pd.Series(['100', '200', 'python', '300.12', '400'])
q9 = pd.to_numeric(q8, errors ='coerce')
print(q9)

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [30]:
#question 7
q10 = np.array(q8)
print(q10)

['100' '200' 'python' '300.12' '400']

In [31]:
#question 8
df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [32]:
#question 9
employees = {'100':"Bharat",'101':"Jitendra",'102':"Sourabh",'103':"Nikhil",'104':"Aashay",'105':"Priyansh",'106':"Muskan",'107':"Shital",'108':"Nikita",'109':"Kartik",'110':"Divya"}

In [33]:
q11 = pd.Series(employees)

In [34]:
print(q11)

100      Bharat
101    Jitendra
102     Sourabh
103      Nikhil
104      Aashay
105    Priyansh
106      Muskan
107      Shital
108      Nikita
109      Kartik
110       Divya
dtype: object

In [35]:
q12 = pd.DataFrame(list(employees.items()), columns=['EmpID', 'Name'])

In [36]:
print(q12)

   EmpID      Name
0    100    Bharat
1    101  Jitendra
2    102   Sourabh
3    103    Nikhil
4    104    Aashay
5    105  Priyansh
6    106    Muskan
7    107    Shital
8    108    Nikita
9    109    Kartik
10   110     Divya

In [37]:
print(q12.head())

  EmpID      Name
0   100    Bharat
1   101  Jitendra
2   102   Sourabh
3   103    Nikhil
4   104    Aashay

In [38]:
print(q12.tail())

   EmpID    Name
6    106  Muskan
7    107  Shital
8    108  Nikita
9    109  Kartik
10   110   Divya

In [39]:
print(q12.iloc[[0, 1, -2, -1]])

   EmpID      Name
0    100    Bharat
1    101  Jitendra
9    109    Kartik
10   110     Divya

In [40]:
print(q12.iloc[4]['Name'])

Aashay

In [41]:
print(q12.iloc[3])

EmpID       103
Name     Nikhil
Name: 3, dtype: object

In [42]:
q12.to_csv('MyRecord.csv', index=False)

In [50]:
#q13 = pd.read_csv('./MyRecord.csv')